.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


/* Head Section CSS Start */

.header-container{
    max-width: 1600px;
    height: 92px;
    margin: 0 auto;
    padding: 30px;
    background: rgba(26, 11, 46, 1);
    color: white;
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hide2{
    display: none;
}
.nav-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
nav>h2{
    border: 1px solid rgba(0, 0, 0, 0.151);
    border-radius: 10px;
    background: linear-gradient(to right, rgb(255, 255, 255), blue);
    -webkit-background-clip: text;
    color: transparent;
}
.btn{
    border: 1px solid gray;
    color: white;
    font-weight: 600;
    line-height: 19px;
    padding: 10px 16px;
    border-radius: 46px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
}

/* Head Section CSS End */



/* Banner Section Start */

.container{
    max-width: 1600px;
    height: 700px;
    margin: 0 auto;
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    position: relative;
}
.banner-container{
    width: 550px;
    height: 560px;
    /* border: 1px solid black; */
    margin: 0 auto;
}
.img1{
    position: absolute;
    top: 10%;
    left: 39%;
    width: 22rem;
    z-index: 1;
    transition: transform 5s ;
}
.img2{
    position: absolute;
    top: 35%;
    left: 50%;
    width: 8rem;
    transform: translate(-50%, -50%);
    z-index: 2;
    transition: transform 5s ;
}
.img1:hover{
    transform: rotate(360deg);
}
.badge {
    position: absolute;
    top: 15%;
    right: 40%;
    background: #2bff88;
    color: #000;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 16px;
    z-index: 3;
    border-radius: 46px;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
}
.banner-description{
    position: absolute;
    bottom: 10%;
    left: 33%;
    /* border: 2px solid black; */
    text-align: center;
}
.banner-description>h2{
    color: rgba(255, 255, 255, 1);
    font-weight: 800;
    font-size: 4rem;
   
}
.banner-description>p{
    opacity: .8;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
     margin-top: 8px;
    margin-bottom: 24px;
}
.btn1{
    background-color: transparent;
    color: rgba(0, 255, 136, 1);
    border: 1px solid rgba(128, 128, 128, 0.137);
    font-weight: 600;
    line-height: 19px;
    padding: 12px 20px;
    border-radius: 46px;
}

/* Banner Section End */


/* About section start */
#about{
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding: 50px 200px 120px 200px;
    background: rgba(26, 11, 46, 1);
}
#about .about-container{
    text-align: center;
    width: 100%;
}
.about-container>h2{
    color: white;
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.75rem;
    margin-bottom: 16px;
}
.about-container>p{
    opacity: 0.8;
    color: rgba(255, 255, 255, 0.425);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
}
hr{
    margin: 80px 0;
    border: 1px solid var(--#FFFFFF, rgba(255, 255, 255, 1));
    opacity: 0.1;    
}
.frame-content>h3{
    color:#00FF88;
    font-size: 3rem;
    font-weight: 900;
    line-height: 58px;
    margin-bottom: 16px;
}
.frame-content>p{
    color:#00ff8883;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
}
.frame{
    display: flex;
    justify-content: space-between;
}

/* About section end */




/* Why section start */

#why{
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding: 120px 200px;
    background: rgba(35, 14, 61, 1);
}
.why-container>h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    margin-bottom: 40px;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(4, 380px);
    gap: 30px;
}
.card{
    padding: 40px;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    width: 100%;
}

.a-h2{
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    margin: 16px 0;
}
.a-p{
    opacity: 0.6;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.card-1{
    grid-row: span 2;
    padding-top: 120px;
}
.card-2,.card-3,.card-4{
    grid-column: span 2;
}

/* Why section end */



/* Features section start */

#features{
    max-width: 1600px;
    width: 100%;
    /* border: 2px solid rgb(228, 7, 7); */
    margin: 0 auto;
    padding: 120px 200px;
    background: rgba(26, 11, 46, 1);
}
.feature-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 120px;
}
.video{
    border: 1px solid rgb(11, 22, 46);
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 24px;
}
.features-des{
    padding: 24px;
}
.video iframe{
    border-radius: 24px;
    margin-bottom: 24px;
}
.video h3{
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    margin-bottom: 12px;
}
.video img{
    margin-right: 10px;
}
.kuku{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}
.f-h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 40px;
}

.ch-h3{
    color: rgba(255, 255, 255, 1);
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
}
.challenge{
    display: flex;
    gap: 24px;
    align-items: center;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    padding: 40px;
}
.icon{
    margin-top: 16px;
}
.icon img{
     border: 1px solid rgb(11, 22, 46);
     border-radius: 50%;
    padding: 10px;
    margin-right: 5px;
}

/* Features section end */


/* Footer section start */

#footer{
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    background-image: url(./assets/footer-bg.png);
    background-position: center;
    background-size: cover;
}
.footer-container{
    padding: 120px;
    text-align: center;
}
.social-icon{
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin-top: 30px;
    margin-bottom: 34px;
}
.social-container{
    display: flex;
    justify-content: center;
    gap: 42px;
}
.footer-container>h2{
    background: linear-gradient(to right, rgba(255, 255, 255, 0.911), blue);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 3.5rem;
}

/* Footer section end */



/* Responsive Design CSS Start */

@media screen and (max-width:576px) {
    .hide{
        display: none;
    }
    .hide2{
        display: inline;
    }
    .container{
        /* max-width: 576px;
        height: 700px;
        width: 100%; */
        height: 100vh; 
        padding: 20px; 
        text-align: center;
    }
    .img1{
        left: 29%;
        top: 15%;
        width: 15rem;
    }
    .img2{
        top: 38%;
        left: 50%;
        width: 6rem;
    }
    .badge {
        right: 31%;
    }
    .banner-description{
    left: 3%;
    text-align: center;
    }
    .banner-description>h2{
    font-weight: 600;
    font-size: 3rem;
    }
    .banner-description>p{
        font-weight: 400;
        margin-top: 2px;
        margin-bottom: 9px;
    }
    #about{
        padding: 40px 20px;
    }
    .frame{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
        gap: 40px;
    }
    .about-container>h2{
        font-size: 32px;
        line-height: 39px;
        margin-bottom: 16px;
    }
    .about-container>p{
        font-size: 16px;
        line-height: 20px;
        width: 100%;
        display: block;
    }
    hr{
        margin: 20px 0;
    }
    #why{
    padding: 40px 20px;
    }
    .card-container{
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
    }
    .card-1{
        padding-top: 24px;
    }
    .feature-container{
        grid-template-columns: repeat(1, 1fr);
         margin-bottom: 60px;
    }
    .challenge{
        display: flex;
        flex-direction: column;
        text-align: center;
}
    .f-h2{
    font-size: 38px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 20px;
}
#features{
    width: 100%;
    padding: 40px 20px;
}

#footer{
    background-size: cover;
}
.footer-container{
    padding: 40 20px;
}

.social-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-self: center;
    align-self: center;
    gap: 10px;
}
.social-icon{
    margin-top: 13px;
    margin-bottom: 13px;
    align-items: center;
}
.copyright p{
    margin-top: 24px;
    font-size: 1rem;
}
}

@media screen and (min-width:992px){
    .hide2{
        display: none;
    }
}

/* Responsive Design CSS End */