*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


/* Head Section CSS Start */

.header-container{
    max-width: 1400px;
    height: 92px;
    /* border: 1px solid blue; */
    margin: 0 auto;
    padding: 30px;
    background: rgba(26, 11, 46, 1);
    color: white;
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hide2{
    display: none;
}
.nav-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
nav>h2{
    border: 1px solid rgba(0, 0, 0, 0.151);
    border-radius: 10px;
    background: linear-gradient(to right, rgb(255, 255, 255), blue);
    -webkit-background-clip: text;
    color: transparent;
}
.btn{
    border: 1px solid gray;
    font-weight: 600;
    line-height: 19px;
    padding: 10px 16px;
    border-radius: 10000px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
}

/* Head Section CSS End */






/* Responsive Design CSS Start */

@media screen and (max-width:576px) {
    .hide{
        display: none;
    }
    .hide2{
        display: inline;
    }
}



@media screen and (min-width:992px) and (max-width:1600px) {
    .hide2{
        display: none;
    }
}

/* Responsive Design CSS End */